<h1>All Products</h1>

<% @categories.each do |category| %>
  <div class="category">
    <h2><%= category.name %></h2>

    <% category.products.each do |product| %>
      <div class="products">
          <h3><%= product.name %></h3>
          <h4>$<%= product.price %> (<%= product.quantity %> left)</h4>
          <p><%= product.description %></p>
          <p><%= image_tag product.image %></p>
      </div>
    <% end %>
  </div>
<% end %>
