<div class="single-product">
  <h2><%= @product.name %></h2>
  <p><%= image_tag @product.image %></p>
  <h3>$<%= @product.price %> (<%= @product.quantity %> left)</p>
  <p><%= @product.description %></p>
</div>
